{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard | {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/includes/dashboard.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="dashboard-content">
    <div class="container-graph-main">
        <div class="section-graph-main">
            <div class="top-graph">
                <div class="todays-sales-graph">
                    <div class="graph-details">
                        <p>All Stores Today's Sales</p>
                        <h1>{{order_total | floatformat:0 }} {{currency}}</h1>
                        <span>We have sold {{order_items}} items in all our stores</span>
                    </div>
                    <div class="chart-js">
                        <canvas id="myChart" width="120" height="120">
                        </canvas>
                        <h2 id="percentage">75%</h2>
                    </div>
                </div>
                <div class="todays-revenue-graph">
                    <div class="graph-details">
                        <p>All Stores Today's Revenue</p>
                        <h1>{{order_revenue | floatformat:0 }} {{currency}}</h1>
                        <span>Available to payout</span>
                    </div>
                    <div class="chart-js">
                        <canvas id="myChart2" width="120" height="120">
                        </canvas>
                        <h2>58%</h2>
                    </div>
                </div>
            </div>
            <div class="bottom-graph">
                <div class="bar-graph-header">
                    <div class="left-part">
                        <p>All Stores Total Revenue</p>
                        <h1>{{order_revenue | floatformat:2}} {{currency}}</h1>
                    </div>
                    <div class="right-part">
                        <span>We have sold {{order_items}} items</span>
                        <div class="section">
                            <p>View All Stores</p>
                        </div>
                    </div>
                </div>
                <div class="bar-graph">
                    <canvas id="myBarGraph" width="1000" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="side-section-graph">
            <div class="side-graph">
                <div class="side-graph-header">
                    <p>Most Sold Items</p>
                    <div class="side-graph-options">
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                    </div>
                </div>
                <div class="side-graph-contents">
                    <div class="side-graph-main">
                        <canvas id="doughnutGraph" width="211" height="211"></canvas>
                        <div class="middle">
                            <h1>120K</h1>
                            <p>Total Sales</p>
                        </div>
                    </div>

                    <div class="side-graph-top-item-list">
                        <div class="list">
                            <div class="color c1">

                            </div>
                            <div class="item-name">
                                <p>Burger</p>
                            </div>
                        </div>
                        <div class="list">
                            <div class="color c2"></div>
                            <div class="item-name">
                                <p>Footlong</p>
                            </div>
                        </div>
                        <div class="list">
                            <div class="color c3"></div>
                            <div class="item-name">
                                <p>Egg Sandwich</p>
                            </div>
                        </div>
                        <div class="list">
                            <div class="color c4"></div>
                            <div class="item-name">
                                <p>Barbeque</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-bottom">
        <div class="store-table">
            <div class="table">
                <div class="table-header">
                    <p>List of Stores</p>
                    <div class="right-side-header">
                        <p>Data Updates Every 24 hours</p>
                        <a href="{% url 'store_list' %}" class="right-side-header-section">
                            <p>View All Stores</p>
                        </a>
                    </div>
                </div>
                <table class="tbl-main">
                    <tr class="tbl-header">
                        <th> Store</th>
                        <th> Today Sales</th>
                        <th> Today Revenue </th>
                        <th> Action </th>
                    </tr>
                    {% for store in stores %}

                    <tr class="tbl-datas">
                        <td> {{store.store_name}} </td>
                        <td> {{store.get_total_sales}} {{currency}}</td>
                        <td> {{store.get_total_revenue | floatformat:2}} {{currency}}</td>
                        <td> <a href="{% url 'pos_dashboard' store_slug=store.store_slug %}" class="tbl-btn"><i
                                    class="fa-solid fa-eye"></i>View</a> </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="activities">
            <div class="announcements">
                <div class="announce-header">
                    <h3>Announcement</h3>
                </div>
                .
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var mediaQuery = window.matchMedia('(max-width: 768px)')
    var status = false;
    if (ctx) {
        if (mediaQuery.matches) {
            console.log('true')
            var status = true;
        } else {
            // window width is greater than 768px
            var status = false;
        }
    }


    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                label: '# of Votes',
                data: [75, 25],
                backgroundColor: [
                    'rgba(71, 73, 115, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderColor: [
                    'rgba(71, 73, 115, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
            }]
        },
        options: {
            cutout: '90%',
            responsive: status,
        },
    });
</script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                label: '# of Votes',
                data: [58, 42],
                backgroundColor: [
                    'rgba(58, 180, 121, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderColor: [
                    'rgba(58, 180, 121, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
            }]
        },
        options: {
            cutout: '90%',
            responsive: true,
        },
    });
</script>
<script>
    Chart.defaults.font.family = 'Poppins';
    // Chart.defaults.global.legend.display = false;
    var barGraph = document.getElementById('myBarGraph')
    var thickness = 35

    var mediaQuery = window.matchMedia('(max-width: 768px)')
    if (thickness) {
        if (mediaQuery.matches) {
            var thickness = 20
            var radius = 3
        } else {
            var thickness = 35
            var radius = 5
        }
    }


    var myBarChart = new Chart(barGraph, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Revenue',
                data: [80000, 110000, 30000, 110000, 50000, 100000, 70000, 10000, 90000, 60000, 40000, 20000],
                backgroundColor: ['rgba(71, 73, 115, 1)'],
                borderColor: ['rgba(71, 73, 115, 1)'],
                borderRadius: radius,
                borderWidth: 1,
                barThickness: thickness,
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
            scales: {

                x: {
                    grid: {
                        drawOnChartArea: false,

                    }
                },
                y: {
                    grid: {
                        drawOnChartArea: false,
                    },
                    gridLines: {
                        color: 'rgba(255, 255, 255, 1)',
                    },
                    ticks: {
                        callback: function (value, index, labels) {
                            return value / 1000 + 'k';
                        }
                    }
                }
            },
            responsive: true,
        }
    });


</script>
<script>
    var doughnutGraph = document.getElementById('doughnutGraph');

    var myDoughnutChart = new Chart(doughnutGraph, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green',],
            datasets: [{
                label: '# of Votes',
                data: [42.5, 19.5, 18, 19.5],
                backgroundColor: [
                    'rgba(37, 81, 194, 1)',
                    'rgba(54, 160, 52, 1)',
                    'rgba(150, 72, 177, 1)',
                    'rgba(208, 116, 49, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
            cutout: '80%',
            responsive: true,
        },
    });

</script>

<script>
    var myChart1 = document.getElementById('myChart').getContext('2d');

    // Get the media query
    var mediaQuery = window.matchMedia('(max-width: 768px)')

    // if (myChart1) {
    //     if (mediaQuery.matches) {
    //         console.log('true')
    //         // Then trigger an alert
    //         myChart1.style.height = '60px';
    //         myChart1.style.width = '60px';
    //     } else {
    //         // window width is greater than 768px
    //         myChart1.canvas.parentNode.style.height = '150px';
    //         myChart1.canvas.parentNode.style.width = '150px';
    //     }
    // }

</script>
{% endblock %}