 .pos-sales-container {
     display: block;
     width: 95%;
     margin: 30px auto;
     border: 2px solid #434343;
     border-radius: 15px;
 }

 .pos-sales-header {
     width: 100%;
     height: 50px;
     margin: 20px 20px 0px 20px;
 }

 .pos-sales-header h1 {
     font-size: 1.5rem;
     font-weight: 500;
     color: #434343;
 }

 .pos-sales-table {
     width: 100%;
 }

 .pos-sales-table table {
     width: 100%;
     border-collapse: collapse;
 }



 .sales-tbl-header {
     /* width: 95%; */
     height: 50px;
     background-color: #e9e9e9;
 }

 .sales-tbl-header th {
     width: 16.66666666666667%;
     font-size: 1rem;
     font-weight: 600;
     color: #434343;
     text-align: center;
     padding-left: 10px;
 }

 .sales-tbl-content {
     width: 95%;
     height: 50px;
 }

 .sales-tbl-content td {
     font-size: 1rem;
     font-weight: 500;
     color: #434343;
     text-align: center;
     padding-left: 10px;
 }

 .sales-tbl-btns {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0px;
 }

 .sales-tbl-receipt {
     width: 60px;
     height: 40px;
     background-color: #31B970;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1rem;
     font-weight: 500;
     color: #ffffff;
     cursor: pointer;
     text-decoration: none;
     margin: 0px 5px;
     transition: all 0.3s ease;
 }

 .sales-tbl-delete {
     width: 60px;
     height: 40px;
     margin: 0px 5px;
     background-color: #D15454;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1rem;
     font-weight: 500;
     color: #ffffff;
     cursor: pointer;
     text-decoration: none;
     transition: all 0.3s ease;
 }

 .sales-tbl-receipt:hover {
     background-color: #2E9E6A;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .sales-tbl-delete:hover {
     background-color: #B53C3C;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 @media only screen and (orientation : landscape) {
     .pos-sales-container {
         width: 90%;
     }

     .pos-sales-table {
         width: 50%;
     }

     .pos-sales-table table {
         width: 90% !important;
     }

     .sales-tbl-header {
         width: 100px !important;
     }

     .sales-tbl-header th {
         width: 50px;
         font-size: .7rem;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
     }

     .sales-tbl-content {
         width: 0;
         /* width: 100%; */
     }

     .sales-tbl-content td {
         width: 30%;
         font-size: .7rem;
     }

     .sales-tbl-btns {
         width: 20%;
     }
 }