aside {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /* display: block; */
}

.pos-sidebar {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.logo h2::after {
    content: "v1.0.0 BETA";
    width: 50%;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 37%;
    font-weight: 400;
}

.logo {
    position: relative;
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    text-decoration: none;
}

.logo h2 {
    color: #434343;
    margin-left: 15px;
}

/* Sidebar Links */
.sidebar-links {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px #000;
    align-items: center;
}

.pos-sidebar-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: solid 1px #000;
    padding-bottom: 50px;
}

.top-sidebar {
    width: 80%;
    margin-top: 10%;
}

.bottom-sidebar {
    width: 80%;
}

.sidebar-link {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 1rem;
    margin: 10px 0px;
}

.sidebar-link:hover {
    background-color: #474973;
    border-radius: 15px;
    color: white;
}

.activeLink {
    background-color: #474973;
    border-radius: 15px;
    color: #ffffff;
}

.top-sidebar a {
    text-decoration: none;
    color: #434343;
}

.bottom-sidebar a {
    text-decoration: none;
    color: #434343;
}

.sidebar-link i {
    margin-right: 15px;
    font-size: 1.5rem;
}


@media only screen and (max-width: 768px) {
    .sidebar-links {
        height: 100%;
    }

    .logo h2::after {
        content: "v1.0.0 BETA";
        width: 50%;
        font-size: .7rem;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 60%;
        left: 47%;
        font-weight: 400;
    }

    .logo {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #000;
        border-right: solid 1px #000;
        text-decoration: none;
        padding: 0 10px;
    }

    .logo h2 {
        color: #434343;
        margin-left: 5px;
        font-size: .8rem;
        white-space: nowrap;
    }

    .logo-img {
        width: 30px;
        height: 30px;
    }

    .logo-img img {
        width: 95%;
        height: 95%;
        object-fit: cover;
    }

    .sidebar-link {
        font-size: .7rem;
    }
}