{% extends "includes/pos/base_templates/pos_base.html" %}
{% load static %}
{% block title %} Edit Inventory | {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/includes/product.css' %}">
{% endblock %}
{% block content %}
{% include "navbar.html" %}

{% for message in messages %}
{% if messages %}
<div class="message-alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endif %}
{% endfor %}


<div class="add-product-container">
    <div class="add-product-header">
        <h1><i class="fa-solid fa-plus"></i>&nbsp;Edit Product Inventory</h1>
        <div class="add-product-options">
            <a href="{% url 'pos_products' store_slug=store.store_slug %}">Back</a>
        </div>
    </div>
    <div class="add-product-form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="product-name">Product Name</label>
                <input type="text" name="product-name" id="product-name" placeholder="Please input the product name"
                    value="{{inventory.inventory_product}}">
            </div>
            <div class="form-group">
                <label for="product-stocks">Product Stocks</label>
                <input type="number" name="product-stocks" id="product-stocks"
                    placeholder="Please input the product stocks">
            </div>
            <div class="form-group">
                <label for="product-status">Product Status</label>
                <select name="product-status" id="product-status">
                    <option value="In Stock">In Stock</option>
                    <option value="Out of Stock">Out of Stock</option>
                </select>
            </div>


            <div class="form-group">
                <input type="submit" value="Save">
            </div>

        </form>
    </div>
</div>
<script>
    document.getElementById('product-image').addEventListener('change',
        function (event) {
            // handle the file upload
            const file = event.target.files[0];
            const imgElement = document.getElementById('myImg');
            imgElement.src = URL.createObjectURL(file);
            console.log(imgElement.src);
            var imgContainer = document.querySelector('.form-img-container');
            imgContainer.style.display = "block";
            var noImage = document.querySelector('.no-image');
            noImage.style.display = "none";
            var formImgClose = document.querySelector('#form-img-close');
            formImgClose.addEventListener('click', function () {
                imgContainer.style.display = 'none';
                noImage.style.display = "flex";
                imgElement.src = "";
            })
        });
</script>
<script>
    var str = document.getElementById('product-name').value;
    str = str.replace(/[^a-zA-Z0-9\s]/g, "");
    str = str.toLowerCase();
    str = str.replace(/\s/g, '-');
    function slugify(str) {
        return str.replace(/[^a-zA-Z0-9\s]/g, "")
            .toLowerCase()
            .replace(/\s/g, '-');
    }
    document.getElementById('product-name').addEventListener('keyup', function () {
        document.getElementById('product-slug').value = slugify(document.getElementById('product-name').value);
    })
</script>

{% endblock %}