{% extends "includes/pos/base_templates/pos_base.html" %}
{% load static %}
{% block title %} Sales | {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/includes/sales.css' %}">
{% endblock %}
{% block content %}
{% include "navbar.html" %}

{% for message in messages %}
{% if messages %}
<div class="message-alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endif %}
{% endfor %}
<div class="pos-sales-container">
    <div class="pos-sales-header">
        <h1>Sales Transactions</h1>
    </div>
    <div class="pos-sales-table">
        <table>
            <tr class="sales-tbl-header">
                <th>Transaction #</th>
                <th>Transaction Code</th>
                <th>Transaction Date</th>
                <th>Total</th>
                <th>Tax Inclusive</th>
                <th>Actions</th>
            </tr>

            {% if order_completed == True %}
            {% for tr in transactions %}
            <tr class="sales-tbl-content">
                <td>{{tr.id}}</td>
                <td>{{tr.transaction_code}}</td>
                <td>{{tr.transaction_date | date:"Y-m-d" }} </td>
                <td>{{tr.transaction_total }} {{currencies}}</td>
                <td>(12.0%){{tr.transaction_tax | floatformat:2 }} {{currencies}}</td>
                <td class="sales-tbl-btns">
                    <a href="{% url 'pos_getReceipt' store_slug=store.store_slug pk=tr.id %}"
                        class="sales-tbl-receipt"><i class="fa-solid fa-receipt"></i></a>
                    <a href="{% url 'pos_deleteReceipt' store_slug=store.store_slug pk=tr.id %}"
                        class="sales-tbl-delete"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="sales-tbl-content">
                <td colspan="6">
                    <p>There are no sales transactions yet.</p>
                </td>
            </tr>
            {% endif %}

        </table>
    </div>
</div>



{% endblock %}