{% extends "includes/pos/base_templates/pos_base.html" %}
{% load static %}
{% block title %}Dashboard | {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/includes/dashboard.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="dashboard-content">
    <div class="container-graph-main">
        <div class="section-graph-main">
            <div class="top-graph">
                <div class="todays-sales-graph">
                    <div class="graph-details">
                        <p>Today's Sales</p>
                        <h1>{{total_sales|floatformat:0}}&nbsp;{{currency}}</h1>
                        <span>We have sold {{total_quantity}} items in our store</span>
                    </div>
                    <div class="chart-js">
                        <canvas id="myChart" width="120" height="120">
                        </canvas>
                        <h2 id="percentage">{{percentage_sales|floatformat:0}}%</h2>
                    </div>
                </div>
                <div class="todays-revenue-graph">
                    <div class="graph-details">
                        <p>Today's Revenue</p>
                        <h1>{{total_revenue|floatformat:0}}&nbsp;{{currency}}</h1>
                        <span>Available to payout</span>
                    </div>
                    <div class="chart-js">
                        <canvas id="myChart2" width="120" height="120">
                        </canvas>
                        <h2>{{percentage_revenue|floatformat:0}}%</h2>
                    </div>
                </div>
            </div>
            <div class="bottom-graph">
                <div class="bar-graph-header">
                    <div class="left-part">
                        <p>Total Revenue this Month</p>
                        <h1>{% for revenue in revenue_per_month %}
                            {% if forloop.last %}
                            {{revenue | floatformat:2}} {% endif %}
                            {% endfor %}
                            &nbsp;{{currency}}</h1>
                    </div>
                    <div class="right-part">
                        <span>We have sold {{total_quantity}} items</span>
                        <div class="section">
                            <p>View All Stores</p>
                        </div>
                    </div>
                </div>
                <div class="bar-graph">
                    <canvas id="myBarGraph" width="1000" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="side-section-graph">
            <div class="side-graph">
                <div class="side-graph-header">
                    <p>Most Sold Items</p>
                    <div class="side-graph-options">
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                    </div>
                </div>
                <div class="side-graph-contents">
                    <div class="side-graph-main">
                        <canvas id="doughnutGraph" width="211" height="211"></canvas>
                        <div class="middle">
                            <h1>{{total_sales|floatformat:0}}</h1>
                            <p>Total Sales</p>
                        </div>
                    </div>
                    <div class="side-graph-top-item-list">
                        {% for product in most_sold_product %}
                        {% if forloop.counter == 4 %}
                        <div class="list">
                            <div class="color c4">

                            </div>
                            <div class="item-name">
                                <p>{{product}}</p>
                            </div>
                        </div>
                        {% elif forloop.counter == 3 %}
                        <div class="list">
                            <div class="color c3">

                            </div>
                            <div class="item-name">
                                <p>{{product}}</p>
                            </div>
                        </div>
                        {% elif forloop.counter == 2 %}
                        <div class="list">
                            <div class="color c2">

                            </div>
                            <div class="item-name">
                                <p>{{product}}</p>
                            </div>
                        </div>
                        {% elif forloop.counter == 1 %}
                        <div class="list">
                            <div class="color c1">

                            </div>
                            <div class="item-name">
                                <p>{{product}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="pos-container-bottom">
        <div class="pos-store-table">
            <div class="pos-table">
                <div class="table-header">
                    <p>List of Orders</p>
                    <div class="right-side-header">
                        <p>Data Updates Every 24 hours</p>
                        <a href="{% url 'pos_sales' store_slug=store.store_slug %}" class="right-side-header-section">
                            <p>View All Orders</p>
                        </a>
                    </div>
                </div>
                <table class="tbl-main">
                    <tr class="tbl-header">
                        <th> Order ID </th>
                        <th> Order Date</th>
                        <th> Order Status </th>
                        <th> Total Amount </th>
                        <th>Action</th>
                    </tr>
                    {% for order in orders %}
                    <tr class="tbl-datas">
                        <td> {{order.order_id}}</td>
                        <td> {{order.order_date | date:"Y-m-d"}}</td>
                        {% if order.order_completed == True %}
                        <td>Completed</td>
                        {% else %}
                        <td>Pending</td>
                        {% endif %}
                        <td>{{order.order_total}}&nbsp;{{currency}}</td>
                        <td><button class="tbl-btn"><i class="fa-solid fa-eye"></i>View</button> </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <!-- <div class="activities">
            <div class="announcements">
                <div class="announce-header">
                    <h3>Announcement</h3>
                </div>
                .
            </div>
        </div> -->
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var total_sales = "{{total_sales}}"
    var estimated_sales = 5000
    var todaySales = estimated_sales - total_sales
    console.log(todaySales)
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                label: 'Sales',
                data: [total_sales, todaySales],
                backgroundColor: [
                    'rgba(71, 73, 115, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderColor: [
                    'rgba(71, 73, 115, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
            }]
        },
        options: {
            cutout: '90%',
            responsive: true,
        },
    });
</script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');

    var total_revenue = "{{total_revenue}}"
    var estimated_revenue = 2500


    var todayRevenue = estimated_revenue - total_revenue
    console.log(todayRevenue)
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                label: 'Revenue',
                data: [total_revenue, todayRevenue],
                backgroundColor: [
                    'rgba(58, 180, 121, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderColor: [
                    'rgba(58, 180, 121, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
            }]
        },
        options: {
            cutout: '90%',
            responsive: true,
        },
    });
</script>
<script>
    Chart.defaults.font.family = 'Poppins';
    // Chart.defaults.global.legend.display = false;
    var barGraph = document.getElementById('myBarGraph')
    var revenue_per_month = "{{revenue_per_month}}"

    var myBarChart = new Chart(barGraph, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Revenue',
                data: revenue_per_month,
                backgroundColor: ['rgba(71, 73, 115, 1)'],
                borderColor: ['rgba(71, 73, 115, 1)'],
                borderRadius: 5,
                borderWidth: 1,
                barThickness: 35,
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
            scales: {

                x: {
                    grid: {
                        drawOnChartArea: false,

                    }
                },
                y: {
                    grid: {
                        drawOnChartArea: false,
                    },
                    gridLines: {
                        color: 'rgba(255, 255, 255, 1)',
                    },
                    // ticks: {
                    //     callback: function (value, index, labels) {
                    //         return value / 1000 + 'k';
                    //     }
                    // }
                }
            },
            responsive: true,
        }
    });


</script>
<script>
    var doughnutGraph = document.getElementById('doughnutGraph');
    var most_sold_product = []
    var most_sold_qty = []

    {% for qty in most_sold_qty %}
    most_sold_qty.push({{ qty }})
    {% endfor %}
    {% for product in most_sold_product %}
    most_sold_product.push("{{product}}")
    {% endfor %}
    console.log(most_sold_product)
    console.log(most_sold_qty)
    var myDoughnutChart = new Chart(doughnutGraph, {
        type: 'doughnut',
        data: {
            labels: most_sold_product,
            datasets: [{
                label: 'Most sold product',
                data: most_sold_qty,
                backgroundColor: [
                    'rgba(37, 81, 194, 1)',
                    'rgba(54, 160, 52, 1)',
                    'rgba(150, 72, 177, 1)',
                    'rgba(208, 116, 49, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
            cutout: '80%',
            responsive: true,
        },
    });

</script>
{% endblock %}