{% load static %}

<aside>
    <a href="#" class="logo">
        <div class="logo-img">
            <img src="{% static 'media/favicon.png' %}" alt="logo">
        </div>
        <h2>POINT OF SALES</h2>
    </a>
    <div class="sidebar-links">
        <div class="top-sidebar">

            <a href="{% url 'dashboard' %}">
                <div class="sidebar-link">
                    <i class="fa-solid fa-objects-column"></i>
                    <h4>Dashboard</h4>
                </div>
            </a>
            <a href="{% url 'store_list' %}">
                <div class="sidebar-link">
                    <i class="fa-solid fa-store"></i>
                    <h4>Store List</h4>
                </div>
            </a>


        </div>
        <div class="bottom-sidebar">
            <a href="{% url 'settings' %}">
                <div class="sidebar-link">
                    <i class="fa-solid fa-gear"></i>
                    <h4>Settings</h4>
                </div>
            </a>
            <a href="#">
                <div class="sidebar-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <h4>Logout</h4>
                </div>
            </a>
        </div>
    </div>
</aside>